{% extends 'aplicacion/base.html' %}
{% load static %}

{% block contenido %}

<div class="page-banner overlay-dark bg-image" style="background-image: url('{% static "aplicacion/assets/img/bg_image_1.jpg" %}');">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <nav aria-label="Breadcrumb">
          <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">posts</li>
          </ol>
        </nav>
        <h1 class="font-weight-normal">Blog</h1>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->
  <div class="page-section py-3 mt-md-n5 custom-index">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4 py-3 py-md-0">
          <div class="card-service wow fadeInUp">
            <div class="circle-shape bg-secondary text-white">
              <span class="mai-chatbubbles-outline"></span>
            </div>
            <p><span>Chat</span> with a doctors</p>
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card-service wow fadeInUp">
            <div class="circle-shape bg-primary text-white">
              <span class="mai-shield-checkmark"></span>
            </div>
            <p><span>One</span>-Health Protection</p>
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card-service wow fadeInUp">
            <div class="circle-shape bg-accent text-white">
              <span class="mai-basket"></span>
            </div>
            <p><span>One</span>-Health Pharmacy</p>
          </div>
        </div>
      </div>
    </div>
  </div> 



  
<br>
<div class="container">   
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'detalle_post' pk=post.pk %}">{{ post.titulo }}</a></h5>
                    <p class="card-text">{{ post.fecha_publicacion }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="page-section bg-light">
  <div class="container">
    <h1 class="text-center wow fadeInUp">Últimas noticias</h1>
    <div class="row mt-5">
      <div class="col-lg-4 py-2 wow zoomIn">
        <div class="card-blog">
          <div class="header">
            <div class="post-category">
              <a href="#">Covid19</a>
            </div>
            <a href="blog-details.html" class="post-thumb">
              <img src="{% static 'aplicacion/assets/img/blog/blog_1.jpg' %}" alt="">
            </a>
          </div>
          <div class="body">
            <h5 class="post-title"><a href="blog-details.html">List of Countries without Coronavirus case</a></h5>
            <div class="site-info">
              <div class="avatar mr-2">
                <div class="avatar-img">
                  <img src="{% static 'aplicacion/assets/img/person/person_1.jpg' %}" alt="">
                </div>
                <span>Roger Adams</span>
              </div>
              <span class="mai-time"></span> 1 week ago
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 py-2 wow zoomIn">
        <div class="card-blog">
          <div class="header">
            <div class="post-category">
              <a href="#">Covid19</a>
            </div>
            <a href="blog-details.html" class="post-thumb">
              <img src="{% static 'aplicacion/assets/img/blog/blog_2.jpg' %}" alt="">
            </a>
          </div>
          <div class="body">
            <h5 class="post-title"><a href="blog-details.html">Recovery Room: News beyond the pandemic</a></h5>
            <div class="site-info">
              <div class="avatar mr-2">
                <div class="avatar-img">
                  <img src="{% static 'aplicacion/assets/img/person/person_1.jpg' %}" alt="">
                </div>
                <span>Roger Adams</span>
              </div>
              <span class="mai-time"></span> 4 weeks ago
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 py-2 wow zoomIn">
        <div class="card-blog">
          <div class="header">
            <div class="post-category">
              <a href="#">Covid19</a>
            </div>
            <a href="blog-details.html" class="post-thumb">
              <img src="{% static 'aplicacion/assets/img/blog/blog_3.jpg' %}" alt="">
            </a>
          </div>
          <div class="body">
            <h5 class="post-title"><a href="blog-details.html">What is the impact of eating too much sugar?</a></h5>
            <div class="site-info">
              <div class="avatar mr-2">
                <div class="avatar-img">
                  <img src="{% static 'aplicacion/assets/img/person/person_2.jpg' %}" alt="">
                </div>
                <span>Diego Simmons</span>
              </div>
              <span class="mai-time"></span> 2 months ago
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 text-center mt-4 wow zoomIn">
        <a href="{% url 'lista_posts'  %}" class="btn btn-primary">Read More</a>
      </div>

    </div>
  </div>
</div> <!-- .page-section -->


{% endblock contenido %}